html {
  font-family: Raleway, sans-serif;
  background-color: #ecf1ef;
}

header {
  background-color: #003152;
  width: 100%;
}

.logo:hover {
  opacity: 1;
  transition: .5s;
}

.logo {
  cursor: pointer;
  outline: none;
  text-align: center;
  display: block;
  opacity: .5;
}

.page {
  border-bottom: 4px solid #61d7ff;
  padding-bottom: .5em;
}

nav ul li {
  display: inline-block;
  float: left;
}

nav ul li:hover {
  background-color: #61d7ff;
  color: #003152;
  border-radius: 8px;
}

nav ul li a:hover {
  color: #003152;
}

@media only screen and (min-width: 38em) {

  footer {
    cursor: pointer;
    outline: none;
    text-align: center;
    display: block;
  }

}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
    padding: 2em;
  }

}

.skip-links a {
  position: absolute;
  top: -3em;
  background-color: #61d7ff;
  color: #003152;
  border-radius: 8px;
}

.icon {
  width: 150px;
}

.btn {
  cursor: pointer;
  background-color: #003152;
  color: #ecf1ef;
  border-radius: 8px;
  border: 2px solid #ecf1ef;
}

.btn:hover {
  cursor: pointer;
  background-color: #61d7ff;
  border: 2px solid #61d7ff;
  color: #003152;
}

a {
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: #ecf1ef;
}

div > img {
  width: 100%;
  border-radius: 6px;
}

.card {
  background-color: #fff;
  border: 2px solid #003152;
  color: #003152;
  border-radius: 8px;
}

.picture {
  opacity: .7;
  transition: 1s ease;
}

.picture:hover {
  opacity: 1;
  width: 120%;
}

.transparent {
  transition: .5s ease;
}

.transparent:hover {
  opacity: 1;
  background-color: #003152;
  color: #cef0f9;
}

svg {
  opacity: .5;
}

svg:hover {
  fill: #81d8d0;
  opacity: 1;
}

#vihmgo:hover {
  fill: #81d8d0;
}

svg > g > path:hover {
  fill: #81d8d0;
  opacity: 1;
}

#ssvijs:hover {
  fill: #81d8d0;
}

footer {
  background-color: #003152;
  color: #fff;
}
