html {
  font-family: Raleway, sans-serif;
}

.logo:hover {
  opacity: 0.7;
  transition: .5s ease;
}

a .logo {
  cursor: pointer;
  outline: none;
  text-align: center;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -3em;
  background-color: #fff;
  color: #000;
}

header {
  background-color: #003152;
  color: #fff;
  width: 100%;
}

header ul li {
  display: inline-block;
  float: left;
}

header ul li:hover {
  background-color: #00ade5;
  border-radius: 8px;
}

ul {
  padding-left: 0;
}

.icon {
  width: 150px;
}

.btn {
  cursor: pointer;
  background-color: #003152;
  color: #fff;
  border-radius: 8px;
  border: 2px solid #fff;
}

.btn:hover {
  cursor: pointer;
  background-color: #00ade5;
  border-color: #00ade5;
}

a {
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: #fff;
}

div > img {
  width: 100%;
  border-radius: 6px;
}

.card {
  border: 2px solid #003152;
  border-radius: 8px;
}

.picture {
  opacity: 0.7;
  transition: .5s ease;
}

.picture:hover {
  opacity: 1;
  width: 120%;
}

.transparent {
  transition: .5s ease;
}

.transparent:hover {
  opacity: 1;
  background-color: #003152;
  color: #fff;
}

footer {
  background-color: #003152;
  color: #fff;
}
