html {
  font-family: Raleway, sans-serif;
}

.logo:hover {
  opacity: .7;
  transition: .5s;
}

.logo {
  cursor: pointer;
  outline: none;
  text-align: center;
  display: block;
}

header {
  background-color: #003152;
  color: #fff;
  width: 100%;
}

nav ul li {
  display: inline-block;
  float: left;
}

nav ul li:hover {
  background-color: #00ade5;
  border-radius: 8px;
}

.page {
  border-bottom: 4px solid #00ade5;
}

@media only screen and (min-width: 38em) {

  footer > nav {
    cursor: pointer;
    outline: none;
    text-align: center;
    display: block;
  }

}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
    padding: 2em;
  }

}

.skip-links a {
  position: absolute;
  top: -3em;
  background-color: #fff;
  color: #000;
  border-radius: 8px;
}

ul {
  padding-left: 0;
}

.icon {
  width: 150px;
}

.btn {
  cursor: pointer;
  background-color: #003152;
  color: #fff;
  border-radius: 8px;
  border: 2px solid #fff;
}

.btn:hover {
  cursor: pointer;
  background-color: #00ade5;
  border: 2px solid #00ade5;
}

a {
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: #fff;
}

div > img {
  width: 100%;
  border-radius: 6px;
}

.card {
  border: 2px solid #003152;
  border-radius: 8px;
}

.picture {
  opacity: .7;
  transition: 1s ease;
}

.picture:hover {
  opacity: 1;
  width: 120%;
}

.transparent {
  transition: .5s ease;
}

.transparent:hover {
  opacity: 1;
  background-color: #003152;
  color: #fff;
}

svg {
  fill: #fff;
}

#vihmgo:hover {
  fill: #89d4c5;
  transition: .5s ease;
}

#argbx3:hover {
  fill: #89d4c5;
  transition: .5s ease;
}

#ssvijs:hover {
  fill: #89d4c5;
  transition: .5s ease;
}

footer {
  background-color: #003152;
  color: #fff;
}
